In [1]:
start_lst = [1962,
1577,
1750,
1836,
1762,
1691,
1726,
1588,
1370,
1043,
1307,
1552,
1813,
1804,
1765,
1893,
1610,
764,
1512,
1404,
1711,
1000,
1694,
1546,
1880,
1721,
2006,
1787,
1510,
1850,
1420,
1712,
1926,
1707,
1983,
1680,
1436,
389,
1448,
1875,
1333,
1733,
1935,
1794,
1337,
1863,
1769,
1635,
1499,
1807,
1326,
1989,
1705,
1673,
1829,
1684,
1716,
456,
1696,
1398,
1942,
1851,
1690,
1328,
1356,
1775,
1564,
1466,
1273,
1896,
766,
1814,
1810,
1537,
1463,
1755,
1341,
1665,
1520,
1366,
1387,
1976,
1717,
1737,
1551,
1760,
1496,
1664,
1450,
1319,
1674,
1630,
1301,
1330,
1658,
1637,
1655,
1439,
1832,
1948,
1339,
1656,
1449,
1296,
1489,
1758,
1939,
1857,
1402,
1394,
1882,
1446,
1412,
1430,
1212,
1377,
1501,
1873,
1812,
1667,
1560,
1654,
1575,
1999,
1581,
1792,
1299,
1843,
1383,
1351,
1297,
1822,
1801,
1977,
1316,
1477,
1980,
1693,
1220,
1554,
1607,
1903,
1669,
1593,
1955,
1286,
1909,
1280,
1854,
2005,
1820,
1803,
1763,
1660,
1410,
1974,
1808,
1816,
1723,
1936,
1423,
1818,
1800,
1294,
857,
496,
1248,
1670,
1993,
1929,
1966,
1381,
1259,
1285,
1797,
1644,
1919,
1267,
1509,
399,
1300,
1662,
1556,
1747,
1517,
1972,
1729,
1506,
1544,
1957,
1930,
1956,
1753,
1284,
1389,
1689,
1709,
1627,
1770,
847]

In [2]:
# high = []
# low = []
# half = []

# def add_to_2020(lst):
#     for number in lst:
#         if number == 1010:
#             half.append(number)
#             if len(half) == 2:
#                 return sum(half)
#         elif number > 1010:
#             high.append(number)
#         else:
#             low.append(number)

In [3]:
# find two numbers in a list that add to 2020

def add_to_2020(lst):
    for number in lst:
        subtrahend = 2020 - number
        for number2 in lst:
            if subtrahend in lst:
                return [number, subtrahend]

In [4]:
def test(actual, expected):
    if actual != expected:
        print(f"I expected {expected} but got {actual}")
    else:
        print("You're amazing and beautiful and wonderful")

In [6]:
test(add_to_2020([0, 2000, 20]), [2000, 20])
test(add_to_2020([1721, 979, 366, 299, 675, 1456]), [1721, 299])
test(add_to_2020(start_lst), [456, 1564])

You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful

In [7]:
# multiply together the two numbers in a list that add to 2020

def multiply_lst(lst):
    product = 1
    for number in lst:
        product *= number
    return product

In [8]:
test(multiply_lst([2000, 20]), 40000)
test(multiply_lst([1721, 979, 366, 299]), 184380859806)
test(multiply_lst([456, 1564]), 713184)
test(multiply_lst(add_to_2020(start_lst)), 713184)

You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful

In [21]:
# def add_three_to_2020(lst):
#     for number in lst:
#         result = 2020 - number
#         for number2 in lst:
#             result -= number2
#             if result <= 0:
#                 continue
#             else:
#                 for number3 in lst:
#                     if number3 == result:
#                         return [number, number2, number3]

In [32]:
# find three numbers in a list that add to 2020

def add_three_to_2020(lst):
    for number in lst:
        result = 2020 - number
        for number2 in lst:
            result -= number2
            if result in lst:
                return [number, number2, result]
            else:
                result = 2020 - number

In [35]:
test(add_three_to_2020([2000, 10, 10]), [2000, 10, 10])
test(add_three_to_2020([400, 300, 700, 900]), None)
test(add_three_to_2020([400, 300, 700, 920]), [400, 700, 920])
test(add_three_to_2020(start_lst), [764, 857, 399])

You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful
You're amazing and beautiful and wonderful

In [36]:
# multiply the three numbers in a list that add to 2020

multiply_lst(add_three_to_2020(start_lst))

261244452